{{ render('Fuga:Public:News:calendar', {year: year, month: month}) }}


<ul class="events">
    {% if news|length > 0 %}
    {% for item in news %}
    <li class="clearfix">
        <div class="picture"><img src="{{ item.photo_value.extra.main.path }}"></div>
        <div>
            <div class="title"><a href="{{ path('event_detail', {id: item.id}) }}">{{ item.name }}</a></div>
            <div class="date">{{ item.date|format_date('d.m.Y') }}</div>
            <div class="preview">{{ item.preview }}</div>
            <div class="link"><a href="{{ path('event_detail', {id: item.id}) }}">подробно</a></div>
        </div>
    </li>
    {% endfor %}
    {% else %}
    <li>Нет событий за выбранный период.</li>
    {% endif %}
</ul>