<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toyoya Dreamcar - {{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/normalize.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/jcarousel/jcarousel.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/app.css?2015113002" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/home.css?2015120101" media="screen">
</head>
<body>
    <div class="menu-button"><a href="">Меню</a></div>
    <div class="header-container">
        <div class="relative">
            <div class="slider-gradient"></div>
            <div class="slider-grass"></div>
        </div>
        <div class="container">
            <div class="header">
                <div class="logo"><a href="/"><img src="/bundles/public/img/logo.png"></a></div>
                <div class="logo-dreamcar"><img src="/bundles/public/img/logo_dreamcar.png"></div>
                <div class="mainmenu">
                    <div class="container">
                        <ul>
                            <li class="active"><a href="/">Главная</a></li>
                            {% for menuitem in links %}
                            <li><a href="{{ menuitem.ref }}">{{ menuitem.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container0">
        <div class="slider-wrapper">
            <div class="jcarousel">
                <ul class="slider">
                    <!--<li id="slide1">-->
                        <!--<div class="counter">-->
                            <!--<div id="day" class="day">65</div>-->
                            <!--<div id="hour" class="hour">12</div>-->
                            <!--&lt;!&ndash;<div class="day-name">дней</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="hour-name">часов</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</li>-->
                    <li id="slide2"></li>
                </ul>
                <!--<a href="#" class="jcarousel-control-prev slider-prev"><img src="/bundles/public/img/prev.png"></a>-->
                <!--<a href="#" class="jcarousel-control-next slider-next"><img src="/bundles/public/img/next.png"></a>-->
            </div>
        </div>
    </div>
    <div class="bg-wrapper">
        <div class="container content-container">
            <div class="content">
                <h1>Будущее начинается с мечты!</h1>

                <p><strong>Toyota верит: великие изобретения начинаются с мечты. А мечта начинается с детства. Давайте фантазировать вместе!</strong></p>

                <p>Участвуйте в конкурсе детского рисунка «Автомобиль мечты» c TOYOTA. Предложите своему ребенку нарисовать невероятную машину будущего: крылатую, многорукую, смешную. И кто знает: может, однажды мы все будем ездить за рулем изобретения вашего юного мечтателя!</p>

                <p class="video">
                    <iframe class="phone-display desktop-hide" width="100%" src="//www.youtube.com/embed/1bepL4D9tSc?rel=0" frameborder="0" allowfullscreen=""></iframe>
                </p>


                <div class="clearfix">
                    <img id="girl-paints" src="/bundles/public/img/girl_paint.png">
                    <div class="girl"></div>
                    <h2>Кто может участвовать в конкурсе?</h2>
                    <p>
                        Любой ребенок, проживающий на территории России в возрасте до 16 лет.
                        Справедливое жюри оценит работы участников
                        в трех возрастных категориях:</p>
                    <ul class="category">
                        <li>1 категория — дети до 7 лет</li>
                        <li>2 категория — дети от 8 до 11 лет</li>
                        <li>3 категория — дети от 12 до 15 лет включительно</li>
                    </ul>

                </div>

                <h2>Что нужно сделать?</h2>
                <p>
                    Чтобы стать участником конкурса, ваш ребенок должен нарисовать
                    и раскрасить свой  автомобиль будущего. Пусть в нем воплотятся все самые смелые мечты и яркие фантазии вашего юного изобретателя!</p>
                <div class="para-pic clearfix">
                    <div id="pictures2">
                        <img id="picture2" src="/bundles/public/img/picture2.jpg">
                    </div>
                    <p><b>Проверьте, отвечает ли рисунок требованиям конкурса:</b></p>
                    <ul class="rules">
                        <li>У автомобиля будущего есть подходящее название и описание его уникальных
                        свойств и характеристике</li>

                        <li>Размер бумаги соответствует  формату
                        А3 (предпочтительно) или А4</li>

                        <li>Убедитесь, что рисунок вашего ребенка (автомобиль и фон) яркий, красочный
                        и разноцветный, а не чёрно-белый</li>

                        <li>Мы в Toyota считаем, что самые
                        интересные рисунки нарисованы от руки. Пожалуйста, не используйте компьютерную графику, коллажи или аппликации. Пусть ваш ребенок творит!</li>
                    </ul>
                    <br>
                </div>


                <h2>Как отправить работу на конкурс?</h2>

                <div class="clearfix">
                    <img id="envelope" src="/bundles/public/img/envelope2.png">
                    <p>Работы и заполненные анкеты можно подать
                    на конкурс в одном из дилерских центров TOYOTA вашего города – <a href="contacts.html">найдите ближайший дилерский центр</a>.</p>
                    <p><b>Если в вашем городе нет пункта приёма работ, отправьте вашу заявку почтой по адресу</b>:</p><p>  105062 г. Москва, ул. Макаренко д.21/2 стр.2, офис компании Avantgarde, с пометкой —Toyota, конкурс детского рисунка «Автомобиль мечты».</p>
                    <p>
                    Если отправляете нам работы по почте, сделайте это заранее, чтобы успеть к указанному сроку.
                    Работы принимаются в период с 1 декабря 2015г. по 7 февраля 2016 г.</p>
                </div>

                <h2>Что можно выиграть?</h2>
                <div class="clearfix">
                    <img id="prizes" src="/bundles/public/img/prizes.jpg">
                    <p>В этом году мы подготовили для вас уникальные призы из детской коллекции Toyota. Следите за новостями на нашем сайте!</p>
                    <p>
                    Работы победителей из каждой возрастной
                    категории будут отправлены на
                    международный этап конкурса в Японию.
                    Если ваша работа попадет в финал, возможно,
                    именно ваша семья отправится  в Японию
                    на церемонию награждения.
                    </p><p>
                    В конкурсе 2015 года впервые участвовали
                    дети из России – и сразу победа!
                    Марк Старенков из Ростова-на-Дону
                    с рисунком автомобиля будущего «Motoryota» стал первым российским лауреатом международного конкурса!</p>

                </div>

                <div class="clearfix">
                    <img id="boy" src="/bundles/public/img/boy.png">
                    <h2>Что делать, если нет идей?</h2>
                    <p><b>Как выглядит автомобиль мечты? Как он работает? Как он может сделать мир лучше, чище и ярче для будущих поколений?</b></p>

                    <p>Это те вопросы, которые задают себе дизайнеры TOYOTA, создавая новые автомобили.</p>

                    <p>Задайте эти вопросы своему юному изобретателю, и уверены он найдет решение!
                    Посмотрите, что придумали конкурсанты
                    прошлого года.</p>

                    <p>Может быть, там ваш юный художник найдет вдохновение. Удачи!</p>
                </div>
            </div>
            <div class="social">
                {{ render('Fuga:Public:Common:block', {name: 'social'}) }}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                {{ render('Fuga:Public:Common:block', {name: 'footer'}) }}
            </div>

        </div>
    </div>
    <script type="text/javascript" src="/bundles/jquery/jquery.js"></script>
    <script type="text/javascript" src="/bundles/jcarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/bundles/public/js/app.js?2015113001"></script>
</body>
</html>