<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>Конкурс Toyota Автомобиль мечты - {{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/normalize.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/selectize/css/selectize.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/nanoscroller/nanoscroller.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/slick/slick.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/slick/slick-theme.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/app.css?2015121507" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/{{ curnode.name }}.css?2015121507" media="screen">
</head>
<body>
<div id="wrapper-toyota"></div>
    <div class="menu-button"><a href="">Меню</a></div>
    <div id="header-toyota" class="header-container">
        <div class="relative">
            <div class="slider-gradient"></div>
        </div>
        <div class="container">
            <div class="header">
                <div class="logo"><a href="/"><img src="/bundles/public/img/logo.png"></a></div>
                <div class="logo-small-xs"><a href="/"><img src="/bundles/public/img/logo_small.png"></a></div>
                <div class="mainmenu">
                    <div class="container">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            {% for menuitem in links %}
                                <li{% if menuitem.id == curnode.id  %} class="active"{% endif %}><a href="{{ menuitem.ref }}">{{ menuitem.title }}</a></li>
                            {% endfor %}
                            <li class="logo-small"><a href="/"><img src="/bundles/public/img/logo_small.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content-toyota" class="bg-wrapper">
        <div class="container content-container">
            <div class="content">

                {{ maincontent }}

                <div class="social">
                    {{ render('Fuga:Public:Common:block', {name: 'social'}) }}
                </div>
            </div>

        </div>
    </div>
    <div id="footer-toyota" class="footer">
        <div class="container">
            <div class="footer-content">
                {{ render('Fuga:Public:Common:block', {name: 'footer'}) }}
            </div>

        </div>
    </div>
</div>
<script src="/bundles/jquery/jquery.js"></script>
<script src="/bundles/nanoscroller/overthrow.min.js"></script>
<script src="/bundles/selectize/js/standalone/selectize.min.js"></script>
<script src="/bundles/nanoscroller/jquery.nanoscroller.js"></script>
<script src="/bundles/scrollto/jquery.scrollTo.min.js"></script>
<script src="/bundles/slick/slick.min.js"></script>
<script src="/bundles/public/js/app.js?2015121407"></script>
<script src="/bundles/public/js/{{ curnode.name }}.js?2015121506"></script>
</body>
</html>