<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toyoya Dreamcar - {{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/normalize.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/jcarousel/jcarousel.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/app.css?2015110201" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/home.css?2015120101" media="screen">
</head>
<body>
    <div class="menu-button"><a href="">Меню</a></div>
    <div class="header-container">
        <div class="relative">
            <div class="slider-gradient"></div>
            <div class="slider-grass"></div>
        </div>
        <div class="container">
            <div class="header">
                <div class="logo"><a href="/"><img src="/bundles/public/img/logo.png"></a></div>
                <div class="logo-dreamcar"><img src="/bundles/public/img/logo_dreamcar.png"></div>
                <div class="mainmenu">
                    <div class="container">
                        <ul>
                            <li class="active"><a href="/">Главная</a></li>
                            {% for menuitem in links %}
                            <li><a href="{{ menuitem.ref }}">{{ menuitem.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container0">
        <div class="slider-wrapper">
            <div class="jcarousel">
                <ul class="slider">
                    <!--<li id="slide1">-->
                        <!--<div class="counter">-->
                            <!--<div id="day" class="day">65</div>-->
                            <!--<div id="hour" class="hour">12</div>-->
                            <!--&lt;!&ndash;<div class="day-name">дней</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="hour-name">часов</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</li>-->
                    <li id="slide2"></li>
                </ul>
                <!--<a href="#" class="jcarousel-control-prev slider-prev"><img src="/bundles/public/img/prev.png"></a>-->
                <!--<a href="#" class="jcarousel-control-next slider-next"><img src="/bundles/public/img/next.png"></a>-->
            </div>
        </div>
    </div>
    <div class="bg-wrapper">
        <div class="container content-container">
            <div class="content">

                {{ maincontent }}

            </div>
            <div class="social">
                {{ render('Fuga:Public:Common:block', {name: 'social'}) }}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                {{ render('Fuga:Public:Common:block', {name: 'footer'}) }}
            </div>

        </div>
    </div>
    <script type="text/javascript" src="/bundles/jquery/jquery.js"></script>
    <script type="text/javascript" src="/bundles/jcarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/bundles/public/js/app.js?2015113001"></script>
</body>
</html>