<h2 class="text-center picture-gallery-title">{{ gallery_title }}</h2>
{{ render('Fuga:Public:Gallery:user') }}

<div class="picture-category-help"><span>Выберите возрастную категорию</span></div>
{% if ages|length > 1 %}
    <ul class="tabs">
        {% for age in ages %}
            <li{% if firstAge.id == age.id %} class="active"{% endif %} data-id="{{ age.id }}">{{ age.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="form-search clearfix">
    <form>
        <input id="city" class="form-control form-control-city" type="text" name="city" placeholder="Введите название города">
        <input id="person" class="form-control form-control-person" type="text" name="person" placeholder="Введите Фамилию и имя">
        <button class="btn-picture-search"></button>
    </form>
</div>

<div class="picture-help">Нажмите на изображение с правой стороны, чтобы посмотреть следующую работу. Для просмотра предыдущей работы нажмите на изображение с левой стороны.</div>

<div class="pictures-container">
    <div class="pop-up">
        <div class="bdr-t"></div>
            <div class="preloader">
                <div>Работы загружаются...</div>
                <div class="gear-b"></div>
                <div class="gear-y"></div>
            </div>

            <div id="pictures" class="pictures" data-picture="{{ currentPicture }}" data-archive="{{ isArchive }}" data-category="{{ firstAge.id }}" data-action="{{ action }}"></div>
            <div id="picture-counter" class="picture-counter"><span id="slide-current"></span>/<span id="slide-total"></span></div>
        <div class="bdr-b"></div>
    </div>
</div>
<div class="remark">Пунктуация и орфография в названиях и описаниях работ авторов сохранены.</div>
<div class="share share-mobile">
    <a class="btn-share btn-share-vk" data-source="popupSlick"><img src="/bundles/public/img/btn_like_vk.png"></a>
    <a class="btn-share btn-share-fb" data-source="popupSlick"><img src="/bundles/public/img/btn_like_fb.png"></a>
</div>
<div class="btn-archive-container">
    {% for btn in buttons %}
    <a class="btn-archive" href="{{ btn.link }}">{{ btn.title }}</a>
    {% endfor %}
</div>


<div class="modal" id="modal-gallery">
    <div class="modal-dialog">
        <a href="#" class="modal-close"></a>
        <div class="modal-pictures">
            <div class="modal-picture">
                <img src="">
                <div class="relative">
                    <div class="place"><span></span></div>
                    <a href="#" class="popup-prev"></a>
                    <a href="#" class="popup-next"></a>
                </div>
                <div class="title"></div>
                <div class="person"></div>
                <div class="idea"></div>
            </div>
        </div>
        <div class="share">
            <a class="btn-share btn-share-vk" data-source="popupSlick"><img src="/bundles/public/img/btn_like_vk.png"></a>
            <a class="btn-share btn-share-fb" data-source="popupSlick"><img src="/bundles/public/img/btn_like_fb.png"></a>
        </div>

    </div>
</div>

<div class="modal" id="modal-auth">
    <div class="modal-dialog modal-dialog-auth">
        <a href="#" class="modal-close"></a>
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal" id="modal-closed">
    <div class="modal-dialog modal-dialog-close">
        {#<a href="#" class="modal-close"></a>#}
        <img src="/bundles/public/img/message-sorry.png">
    </div>
</div>
