<div class="picture-category-help"><span>Выберите возрастную категорию</span></div>
{% if ages|length > 1 %}
    <ul class="tabs">
        {% for age in ages %}
            <li{% if 1 == age.id %} class="active"{% endif %} data-id="{{ age.id }}">{{ age.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="form-search clearfix">
    <form>
        <input id="city" class="form-control form-control-city" type="text" name="city" placeholder="Введите название города">
        <input id="person" class="form-control form-control-person" type="text" name="person" placeholder="Введите Фамилию и имя">
        <button class="btn-picture-search"></button>
    </form>
</div>

<div class="picture-help">Листайте страницу в сторону, чтобы посмотреть работы участников</div>

<div class="pictures-container">
    <div class="pop-up">
        <div class="bdr-t"></div>
            <div id="pictures" class="pictures" data-archive="{{ isArchive }}" data-category="{{ firstAge.id }}"></div>
            <div id="picture-counter" class="picture-counter"><span id="slide-current"></span>/<span id="slide-total"></span></div>
        <div class="bdr-b"></div>
    </div>
</div>
<div class="remark">Пунктуация и орфография в названиях и описаниях работ авторов сохранены.</div>

{#{% if action == 'index' %}<div class="archive-text">Вдохновитесь работами победителей 9-го конкурса «Автомобиль мечты».<br> Самые фантастические и красочные машины помогут придумать собственное изобретение!</div>{% endif %}
<a class="btn-archive" href="{{ link }}">{{ button }}</a>#}

<div class="modal" id="modal-gallery">
    <div class="modal-dialog">
        <a href="#" class="modal-close"></a>
        <div class="modal-pictures">
            <div class="modal-picture">
                <img src="">
                <div class="relative">
                    <div class="place"><span></span></div>
                    <a href="#" class="popup-prev"></a>
                    <a href="#" class="popup-next"></a>
                </div>
                <div class="title"></div>
                <div class="person"></div>
                <div class="idea"></div>
            </div>
        </div>
        {#<script type="text/javascript">(function() {#}
                {#if (window.pluso)if (typeof window.pluso.start == "function") return;#}
                {#if (window.ifpluso==undefined) { window.ifpluso = 1;#}
                    {#var d = document, s = d.createElement('script'), g = 'getElementsByTagName';#}
                    {#s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;#}
                    {#s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';#}
                    {#var h=d[g]('body')[0];#}
                    {#h.appendChild(s);#}
                {#}})();</script>#}
        {#<div class="pluso" data-background="none;" data-options="small,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="facebook,vkontakte" data-url="http://dreamcar.toyota.ru/pictures#/1/1" data-title="Фото 1" data-description="Фото 2 выап вап ывап выап вап вап dfsg ывап ывап ывап ывап ывап ывап ывап ывап вап выап выап выап п"></div>#}
        <div class="share">
            <a onclick="Share.vkontakte('http://cc88441.tmweb.ru/pictures#/1/45','Автомобиль Божья Коровка','http://cc88441.tmweb.ru/upload/2016/01/19/dc-260-80b8b81011_main.jpg','Павлова Степанида, 3 года, Бор')"><img src="/bundles/public/img/btn_like_vk.png"></a>
            <a onclick="Share.facebook('http://cc88441.tmweb.ru/pictures#/1/45','Автомобиль Божья Коровка','http://cc88441.tmweb.ru/upload/2016/01/19/dc-260-80b8b81011_main.jpg','Павлова Степанида, 3 года, Бор')"><img src="/bundles/public/img/btn_like_fb.png"></a>
        </div>

    </div>
</div>

<div class="modal" id="modal-auth">
    <div class="modal-dialog modal-dialog-auth">
        <a href="#" class="modal-close"></a>
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal" id="modal-closed">
    <div class="modal-dialog modal-dialog-close">
        <img src="/bundles/public/img/gallery_closed.jpg">
    </div>
</div>


{#<div class="red-line">#}
    {#<div>Здесь вы можете посмотреть работы участников<br>9-го конкурса &laquo;Автомобиль мечты&raquo;</div>#}
{#</div>#}