{{ maincontent }}

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/1bepL4D9tSc?rel=0" frameborder="0" allowfullscreen></iframe></p>

{% if competitions|length > 0 %}
<div class="history">
    {% if competitions|length > 1 %}
    <ul class="selector clearfix">
        {% for competition in competitions %}
        <li{% if competition.id == firstCompetition.id %} class="active"{% endif %} data-id="{{ competition.id }}">{{ competition.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="title">Видео и фотографии с церемонии награждения</div>
    {% for competition in competitions %}
    <div class="year{% if competition.id == firstCompetition.id %} active{% endif %}" id="year{{ competition.id }}">
        <div class="video">
            {{ competition.video.code }}
        </div>

        <div class="gallery">
            {% set pos = 0 %}
            {% for picture in competition.gallery %}
                <div class="photo">
                    <div class="hover"><a class="window" data-position="{{ pos }}" href="{{ picture.photo_value.extra.big.path }}"><img src="{{ picture.photo_value.extra.big.path }}"></a></div>
                    <div class="description">{{ picture.name }}</div>
                </div>
                {% set pos = pos + 1 %}
            {% endfor %}
        </div>

        {% if competition.news|length > 0 %}
            <ul class="events">
                {% for item in competition.news %}
                    <li class="clearfix">
                        <div class="picture"><img src="{{ item.photo_value.extra.main.path }}"></div>
                        <div>
                            <div class="title"><a href="{{ path('event_detail', {id: item.id}) }}">{{ item.name }}</a></div>
                            <div class="date">{{ item.date|format_date('d.m.Y') }}</div>
                            <div class="preview">{{ item.preview }}</div>
                            <div class="link"><a href="{{ path('event_detail', {id: item.id}) }}">подробно</a></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <a class="link" href="{{ path('competition_detail', {id: 1}) }}">Подробнее</a>
    </div>
    {% endfor %}
</div>

    <div class="modal">
        <div class="modal-dialog">
            <a href="#" class="modal-close"></a>
            <div class="modal-pictures">
                <div class="modal-picture">
                    <img src="/bundles/public/img/picture_big.jpg">
                    <div class="relative">
                        <a href="#" class="popup-prev"></a>
                        <a href="#" class="popup-next"></a>
                    </div>
                    <div class="idea"></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}