{{ maincontent }}
<h2>История конкурса</h2>

<div class="clearfix"> <img id="logo-lg" src="/bundles/public/img/history_logo_lg.png"> <p>Десятки стран, километры карандашных линий, тонны красок, миллионы счастливых улыбок и, превыше всего, исполнившиеся детские мечты! Это конкурс &laquo;Автомобиль мечты&raquo; от&nbsp;Toyota Motor Corporation в&nbsp;год своего десятилетия. Глобальная инициатива, объединившая талантливых детей изо всех уголков мира. Тех, кому принадлежит будущее, и&nbsp;кто делает его ярче!</p> <img id="logo-xs" src="/bundles/public/img/history_logo_xs.png"> <p>Кто в&nbsp;далеком 2003 году мог подумать, что локальный японский конкурс ждет такой успех? Но&nbsp;уже через 5 лет он&nbsp;вышел на&nbsp;международный уровень, и&nbsp;с&nbsp;каждым годом становится все масштабнее и&nbsp;успешнее.</p>
</div>
<div class="clearfix"> <img id="girl-lg" src="/bundles/public/img/history_girl_lg.png"> <p>Уже в&nbsp;2014 году в&nbsp;нем участвовали 81 страна. В&nbsp;том числе, впервые, Россия. И&nbsp;сразу победа! Юный художник из&nbsp;нашей страны занял второе место на&nbsp;международном этапе конкурса и&nbsp;вместе со&nbsp;своей семьей отправился в&nbsp;настоящее путешествие мечты в&nbsp;страну Восходящего солнца.</p> <img id="girl-xs" src="/bundles/public/img/history_girl_xs.png"> <p>Обычно в&nbsp;юбилей поздравляют именинника. Но&nbsp;мы&nbsp;хотим поздравить и&nbsp;поблагодарить вас. Спасибо, что вы&nbsp;с&nbsp;нами. Спасибо, что продолжаете мечтать. Присоединяйтесь к&nbsp;конкурсу, и&nbsp;пусть мечты ваших детей воплотятся в&nbsp;жизнь!</p>
</div>
<p>В&nbsp;этом году &laquo;Автомобиль мечты&raquo; празднует свой десятилетний юбилей. Это удивительная дата, которой мы&nbsp;искренне гордимся. Мы&nbsp;верим: наш конкурс будет существовать, пока дети умеют мечтать. И&nbsp;мы&nbsp;с&nbsp;нетерпением ждем момента, когда их&nbsp;удивительные изобретения заполнят улицы всех городов мира.</p>

<p>Присоединяйтесь к&nbsp;конкурсу, и&nbsp;пусть мечты ваших детей воплотятся в&nbsp;жизнь!</p>

<p><iframe src="https://www.youtube.com/embed/oe_2ZTH4RHU?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>

{% if competitions|length > 0 %}
<div class="history">
    {% if competitions|length > 1 %}
    <ul class="selector clearfix">
        {% for competition in competitions %}
        <li{% if competition.id == firstCompetition.id %} class="active"{% endif %} data-id="{{ competition.id }}">{{ competition.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="title">Видео и фотографии с церемонии награждения</div>
    {% for competition in competitions %}
    <div class="year{% if competition.id == firstCompetition.id %} active{% endif %}" id="year{{ competition.id }}">
        <div class="video">
            {{ competition.video1 }}
        </div>

        <div class="gallery">
            {% for picture in competition.gallery %}
                <div class="photo">
                    <img src="{{ picture.photo_value.extra.big.path }}">
                    <div class="description">{{ picture.name }}</div>
                </div>
            {% endfor %}
        </div>

        {% if competition.news|length > 0 %}
            <ul class="events">
                {% for item in competition.news %}
                    <li class="clearfix">
                        <div class="picture"><img src="{{ item.photo_value.extra.main.path }}"></div>
                        <div>
                            <div class="title"><a href="{{ path('event_detail', {id: item.id}) }}">{{ item.name }}</a></div>
                            <div class="date">{{ item.date|format_date('d.m.Y') }}</div>
                            <div class="preview">{{ item.preview }}</div>
                            <div class="link"><a href="{{ path('event_detail', {id: item.id}) }}">подробно</a></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <a class="link" href="{{ path('competition_detail', {id: 1}) }}">Подробнее</a>
    </div>
    {% endfor %}
</div>
{% endif %}