<ul class="juri full">
    <li class="clearfix">
        <div class="foto full">
            <img src="{{ member.foto_value.value }}">
        </div>
        <div class="info full">
            <div class="name">{{ member.name }}</div>
            <div class="activity">{{ member.activity }}</div>
            <div class="bio active"><div>{{ member.bio }}</div></div>
            <div class="quotation">
                {{ member.quotation_desktop }}
            </div>
        </div>
    </li>
</ul>