
<div class="slider-wrapper">
    {% if vote_button_active %}<div class="slider-vote-link"><a href="/pictures">Примите участие!</a></div>{% endif %}
    <div class="jcarousel">
        <ul class="slider">
            {#<li id="slide1">#}
            {#<div class="counter">#}
            {#<div id="day" class="day">65</div>#}
            {#<div id="hour" class="hour">12</div>#}
            {#&lt;!&ndash;<div class="day-name">дней</div>&ndash;&gt;#}
            {#&lt;!&ndash;<div class="hour-name">часов</div>&ndash;&gt;#}
            {#</div>#}
            {#</li>#}
            {% for slide in slides %}
            <li id="slide{{ slide.id }}">
                {% if slide.url %}
                <a href="{{ slide.url }}"><img class="visible-xs hidden-md" src="{{ slide.mobile_value.value }}">
                <img class="hidden-xs visible-md" src="{{ slide.desktop_value.value }}"></a>
                {% else %}
                    <img class="visible-xs hidden-md" src="{{ slide.mobile_value.value }}">
                    <img class="hidden-xs visible-md" src="{{ slide.desktop_value.value }}">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <a href="#" class="jcarousel-control-prev slider-prev"><img src="/bundles/public/img/prev.png"></a>
        <a href="#" class="jcarousel-control-next slider-next"><img src="/bundles/public/img/next.png"></a>
    </div>
</div>